*{
    margin: 0;
    box-sizing: border-box;

}
:root{
    --gradient: linear-gradient(90deg, #31d165, #2bb9cf);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    
}
.wrapper{
    max-width: 100%;
    width: 95%;
    margin: auto;
}
.wrapper button{
    background: var(--gradient);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;

}
/** Navbar **/
nav{
    width: 100%;
    padding: 16px 0px;
    position: absolute;
    background: white;
    z-index: 99;
}
nav a{
    color: gray;
    text-decoration: none;
}
nav .logo{
    font-weight: 900;
    font-size: 1.2rem;

}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}
nav>.wrapper{
    width: 95% ;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/** Hero **/

#hero{
    background: #fafafa;
}

#hero .wrapper{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#hero .wrapper>div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

#hero h1{
    font-size: 4rem;
}

#whyus{
    background: #f4f5f7;
}

#whyus>.wrapper{
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#whyus h2{
    font-size: 3rem;
    font-weight: normal;
}

#whyus .cards{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.card .icon{
    width: 80px;
    aspect-ratio: 1;
    background: var(--gradient);
    border-radius: 50%;
    margin-bottom: 20px;
}

.card h3{
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px){
    #whyus .cards{
        grid-template-columns: 1fr;
    }

    #hero .wrapper>div{
        width: 100%;
        text-align: center;
    }

    #whyus .cards>div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

